<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="body bg-zinc-900 w-full h-screen">
    <div>
      <nav class="nav bg-zinc-800 flex justify-center justify-between p-5">
        <div
          class="left flex justify-center gap-10 p-2 inline-block ml-[7rem] text-white font-semibold text-xl"
        >
          <div>Home</div>
          <div>Shop</div>
          <div>Women</div>
          <div>Men</div>
          <div>Kids</div>
        </div>
        <div class="right flex justify-end gap-10 mr-20 p-2">
          <div class="profile text-lime-500 text-xl font-semibold">Profile</div>
          <div class="cart text-yellow-500 text-xl font-semibold">Cart</div>
          <div class="login text-blue-700 text-xl font-semibold">Login</div>
        </div>
      </nav>
      <div class="banner flex justify-center mx-2">
        <img
          src="/images/banner/CitySling New hand bag this season..png"
          alt="loading..."
        />
      </div>
      <!--Our Colections...-->
      <div>
        <h2 class="text-white text-3xl font-semibold flex justify-center my-10">
          Our Collections
        </h2>
        <div
          class="bagcard bg-zinc-800 mx-10 h-auto p-10 flex justify-center gap-10 flex-wrap rounded-md"
        >
          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>

          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>

          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>

          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>

          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>
          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>

          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>

          <div class="womenbag bg-slate-700 p-5 w-[16rem] h-[24rem] rounded-md">
            <img
              class="w-[13rem] h-[16rem] object-cover rounded-md"
              src="/images/bag pic/handbag.jpg"
              alt="loading..."
            />
            <div class="text-xs m-2 flex flex-col text-white">
              <span class="font-semibold">AMERICAL TOURRISTER</span>
              <span class="text-[10px] text-blue-600"
                >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
              >
              <span>MRP : 2000</span>
              <span>$ <span class="text-red-500">1500</span></span>
            </div>
          </div>
        </div>
      </div>

      <!---NEW COLLECTION BANNER..-->
      <div class="bg-zinc-800 my-10 mx-10 p-[50px] rounded-md">
        <img
          class="w-full h-[28rem] rounded-md"
          src="/images/banner/new collections.png"
          alt="loading..."
        />
        <!--New collection bags start-->
        <div class="flex justify-center mt-10 p-10 bg-zinc-700 rounded-md">
          <div
            class="w-full h-2/5 flex gap-10 justify-start bg-zinc-600 p-10 rounded-lg overflow-x-scroll"
          >
            <div
              class="womenbag bg-slate-700 p-5 w-[16rem] min-w-[16rem] h-[24rem] min-h-[24rem] rounded-md"
            >
              <img
                class="w-[13rem] h-[16rem] object-cover rounded-md"
                src="/images/bag pic/handbag.jpg"
                alt="loading..."
              />
              <!--Bags cards-->
              <div class="text-xs m-2 flex flex-col text-white">
                <span class="font-semibold">AMERICAL TOURRISTER</span>
                <span class="text-[10px] text-blue-600"
                  >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
                >
                <span>MRP : 2000</span>
                <span>$ <span class="text-red-500">1500</span></span>
              </div>
            </div>

            <div
              class="womenbag bg-slate-700 p-5 w-[16rem] min-w-[16rem] h-[24rem] min-h-[24rem] rounded-md"
            >
              <img
                class="w-[13rem] h-[16rem] object-cover rounded-md"
                src="/images/bag pic/handbag.jpg"
                alt="loading..."
              />
              <div class="text-xs m-2 flex flex-col text-white">
                <span class="font-semibold">AMERICAL TOURRISTER</span>
                <span class="text-[10px] text-blue-600"
                  >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
                >
                <span>MRP : 2000</span>
                <span>$ <span class="text-red-500">1500</span></span>
              </div>
            </div>

            <div
              class="womenbag bg-slate-700 p-5 w-[16rem] min-w-[16rem] h-[24rem] min-h-[24rem] rounded-md"
            >
              <img
                class="w-[13rem] h-[16rem] object-cover rounded-md"
                src="/images/bag pic/handbag.jpg"
                alt="loading..."
              />
              <div class="text-xs m-2 flex flex-col text-white">
                <span class="font-semibold">AMERICAL TOURRISTER</span>
                <span class="text-[10px] text-blue-600"
                  >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
                >
                <span>MRP : 2000</span>
                <span>$ <span class="text-red-500">1500</span></span>
              </div>
            </div>

            <div
              class="womenbag bg-slate-700 p-5 w-[16rem] min-w-[16rem] h-[24rem] min-h-[24rem] rounded-md"
            >
              <img
                class="w-[13rem] h-[16rem] object-cover rounded-md"
                src="/images/bag pic/handbag.jpg"
                alt="loading..."
              />
              <div class="text-xs m-2 flex flex-col text-white">
                <span class="font-semibold">AMERICAL TOURRISTER</span>
                <span class="text-[10px] text-blue-600"
                  >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
                >
                <span>MRP : 2000</span>
                <span>$ <span class="text-red-500">1500</span></span>
              </div>
            </div>

            <div
              class="womenbag bg-slate-700 p-5 w-[16rem] min-w-[16rem] h-[24rem] min-h-[24rem] rounded-md"
            >
              <img
                class="w-[13rem] h-[16rem] object-cover rounded-md"
                src="/images/bag pic/handbag.jpg"
                alt="loading..."
              />
              <div class="text-xs m-2 flex flex-col text-white">
                <span class="font-semibold">AMERICAL TOURRISTER</span>
                <span class="text-[10px] text-blue-600"
                  >AMERICAN TOURITER ARICONIC LAPTOP STROLLY BALCK 55CM</span
                >
                <span>MRP : 2000</span>
                <span>$ <span class="text-red-500">1500</span></span>
              </div>
            </div>

            <!---See More Feature-->
            <span
              class="w-[10rem] min-w-[10rem] h-[5rem] bg-slate-700 flex justify-center mt-[10rem] p-5 rounded-full"
            >
              <a class="text-white font-semibold text-xl" href="#"
                >See More...</a
              >
            </span>
          </div>
        </div>
      </div>
      <!--New collection banner end-->

      <!----->
    </div>
  </body>
</html>
