<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OWNER PAGE</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-screen bg-zinc-800">
    <!----------------------------------Flash Message------------------->
    <div>
      <% if(adminLoginSuccessMsg .length >0 ){ %>
      <div
        class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 mt-1 rounded-md bg-green-500"
      >
        <span class="initial-block mt-1 mb-1 text-white font-semibold">
          <%= adminLoginSuccessMsg %>
        </span>
      </div>
      <% } else if(adminLogout.length >0 ){ %>
      <div
        class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 mt-1 rounded-md bg-yellow-400"
      >
        <span class="initial-block mt-1 mb-1 text-zinc-900 font-semibold">
          <%= adminLogout %>
        </span>
      </div>
      <% } else if(flashmsg .length >0 ){ %>
      <div
        class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 mt-1 rounded-md bg-red-500"
      >
        <span class="initial-block mt-1 mb-1 text-white font-semibold">
          <%= flashmsg %>
        </span>
      </div>
      <% } else if(adminCreatedSuccessMsg.length >0 ){ %>
      <div
        class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 mt-1 rounded-md bg-green-500"
      >
        <span class="initial-block mt-1 mb-1 text-white font-semibold">
          <%= adminCreatedSuccessMsg %>
        </span>
      </div>
      <% } %>
    </div>

    <div>
      <h1
        class="text-white font-semibold text-5xl flex justify-center items-center mt-10"
      >
        ADMIN SECTION
      </h1>
      <div class="flex justify-between mx-10">
        <a
          class="bg-blue-600 ml-20 p-2 rounded-md font-semibold text-lg text-bg-red-300"
          href="/"
          >Home</a
        >
        <a
          class="bg-yellow-300 ml-20 p-2 rounded-md font-semibold text-lg text-bg-red-300"
          href="/logout/adminlogout"
          >logout</a
        >
      </div>

      <div class="flex justify-center items-center">
        <div class="my-20">
          <a
            class="bg-green-600 p-2 rounded-md font-semibold text-white text-lg"
            href="/login/adminlogin"
            >Admin Login</a
          >
          <a
            class="bg-blue-600 p-2 rounded-md font-semibold text-white text-lg"
            href="/owners/createowner"
            >Create Account</a
          >
          <a
            class="bg-red-600 p-2 rounded-md font-semibold text-white text-lg"
            href="/products/addproducts"
            >Add Products</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
