.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.adsidebar{
    min-height: 800px;
}

.post-card{
    margin: 20px  50px ;
  width: 50%;
}


.hashtag{
    margin: 5px 3px ;   
}

.reactions{
    margin: 5px;
}

.create-post{
    width: 20%;
    margin-top: 50px;
    margin-left: 30%;
}