.container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    margin-bottom: 30px;
}

.input-section{
    height: 6vh;
    width: 30vw;
    border-radius: 20px;
    background-color:#1F3540;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
input{
    width: 100%;
   
    margin-left: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
}

input::placeholder{
    color: rgb(178, 182, 185);
    font-size: 15px;
}

.button{
    background-color: #F52549;
 
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    border: none;
   
}
