.addFoodMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addFoodMainContainer h1 {
  margin-top: 5rem;
  color: rgb(241, 235, 235);
  font-size: 3rem;
}
.addSubContainer {
  margin-top: 2rem;
  background: #222;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.inputContainer {
  border: solid 1px red;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer input {
  width: 18rem;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}

.fileInput {
  color: white;
}

.radioInput {
  width: 18rem;
  display: flex;
  justify-content: start;
}
.radioInput input {
  width: 2rem;
}
label {
  color: white;
}
textarea {
  border-radius: 10px;
  outline: none;
}

.submitButton {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  background-color: greenyellow;
  color: rgb(229, 27, 27);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* @media only screen and (max-width:600px){
  
} */
