.admin-maincontainer {
  background-color: #121212;
  height: 100vh;
}

.admin-sub-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-logoutbox {
  display: flex;
  justify-content: end;
}
.admin-logoutbox button {
  width: 8rem;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5rem;
  margin-top: 10rem;
  border-radius: 20px;
  background-color: yellow;
  cursor: pointer;
}
.admin-sub-containers h1 {
  margin-bottom: 20px;
  color: rgb(241, 35, 35);
  font-size: 3rem;
}
.admin-sub-containers h2 {
  color: aliceblue;
  font-size: 20px;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.admin-link {
  padding: 10px 20px;
  background-color: #1f1f1f;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Select the 1st child */
.admin-link:nth-child(1) {
  color: rgb(22, 7, 243);
}
.admin-link:nth-child(2) {
  color: rgb(95, 235, 30);
}
.admin-link:nth-child(3) {
  color: aqua;
}
.admin-link:hover {
  background-color: #333;
}

/* @media only screen and (max-width: 600px) {

} */
