.acMainContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.formTag{
    border: solid 2px greenyellow;
    padding: 20px;
    border-radius: 10px;
}

.inputFileds{
    border: solid 1px red;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.inputFileds input{
    width: 18rem;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}