*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.banner {
    margin-left: 10%;
    margin-bottom: 15px;
}

.shop-category img{
   margin-top: 10%;
   width: 90%;
   border-radius: 20px;
}

.shopcategory-indexSort{
    
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    gap: 70%;
}

.shopcategory-short{
    width: 7%;
    border: 2px solid black;
    border-radius: 20px;

}
.sortby{
    padding-left: 15px;
    padding-right: 10px;
}
.shopcategory-short img{
  
    width: 10px;
    aspect-ratio: 1;
 
}


.shopcategory-products{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 220px;
    height: 59px;
    border-radius: 75px;
    background: #fafafa;
    color: #787878;
    font: 18px;
    font-weight: 500;

}



