*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins';
    overflow: hidden;
    overflow-y: scroll;
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */

}