*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.populars-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.popular-heading h2{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}