.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    border: 7px solid greenyellow;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 400px;
  
  
}