
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    width: 100vw;
    margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(to top, #ffffff 60%, #a7b1bb 100%);
}
.footer-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo p{
    padding-top: 50px;
    padding-left: 3%;
    font-size: 20px;
    font-weight: 700;
}

.footer-list{
    margin-top: 20px;
    margin-bottom: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    font-size: 20px;
}

.footer-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
}

.footer-copyright{
    margin: 30px;
}