
.items-container{
    width: 80%;
    margin: 40px 10%;
    display: flex;
    flex-wrap: wrap; /****/
    justify-content: space-evenly;
    
}
.item-container{
  

}

.item-image:hover{
    scale: 1.2;
}