.nav-main-container{
    background-color: #d4d4d8;
}

.nav-sub-container{
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding: 10px;
}

.nav-left-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
}
.nav-right-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-box input{
    padding: 5px;
    outline: none;
    border-radius: 10px;
}

.input-box button{
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}