.nav-main-container{
    background-color: #18181b;
}

.nav-sub-container{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 10px;
}
.nav-logo{
    margin-left: 10px;
  
}
.nav-logo img{
 height: 50px;
 background: transparent;
}
.nav-left-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    color:#ffff;
}
.nav-right-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    color:#ffff;
    margin-right: 10px;

}

.login{
    color: red;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-box input{
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: none;
}

.input-box button{
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #22c55e;
    cursor: pointer;
    color: #ffff;
    font-weight: 500;
}

.link{
  
    color: #ffff;
    text-decoration: none;
}

/* hover animation */
.linkAnimation:hover{
    box-shadow: rgba(115, 240, 245, 0.56) 0px 22px 70px 4px;
}

.login:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}