.package-container {
  /* background-color: aqua; */
  margin-top: 30px;
  margin-bottom: 10px;
}

.package-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.card-container {
  /* background-color: rgb(123, 126, 126); */
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  /* margin: 30px; */
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
}

.card {
  height: 31rem;
  width: 20rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #ebeef1;
  padding: 10px;
  border-radius: 20px;
}
.card img {
  height: 15rem;
  width: 18.5rem;
  border-radius: 10px;
}
.sub-card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
}

.city-name {
  display: flex;
  justify-content: start;
  gap: 5px;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
}


#sub-card {
  margin-left: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
.subtitle {
  font-size: 15px;
  font-weight: 500;
}

.rating-box {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.price-box {
  font-size: 30px;
}
.price-box span{
    font-weight: 600;
}
.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover Effect on Book Buttom */
.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad {
   margin: 5px;
   padding: 15px 45px;
   text-align: center;
   /* text-transform: uppercase; */
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
    border: none;
    cursor: pointer;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #ffff;
   text-decoration: none;
   font-size: 15px;
   font-weight: 500;
 }
